@model EpicGames.Tools.Builder.Frontend.Database.SP_GetPromotionCommandsResult

@{
    Layout = null;
}


@if (Model.Type == 4)
{
    <tr>
        <td class="string">
            @Model.Description
        </td>
        <td colspan="2" class="r">
            <button type="button" onclick="triggerCommand(@Model.ID); window.alert('The QA Build Changes have been sent.')" title="Email QA build changes to developers">Send Changes</button>
        </td>
    </tr>
}
else
{
    <tr>
        <td class="string">
            @Html.ActionLink(@Model.Description, "Command", "Promote", new { id = Model.ID }, null)
        </td>
        <td class="string">
            @Model.LatestApproved
        </td>
        <td class="enum">
            @Html.ActionLink("CL " + Model.LastGoodChangelist.ToString(), "Changelist", "Build", new { id = Model.LastGoodChangelist.ToString() }, null)
        </td>
    </tr>
}