@model EpicGames.Tools.Builder.Frontend.Models.PromoteCommandModel

@{
    ViewBag.Title = "Build System";
    ViewBag.Description = Model.Details.Description + " in Branch '" + Model.Details.Branch + "'";
}


<script type="text/javascript">
    function UpdateLabels() {
        var query = $.ajax({
            url: '@Url.RouteUrl(new { action = "CommandLabels", controller = "Promote", id = Model.Details.ID })',
            async: false
        });
            
        query.success(
            function () {
                setTimeout(function () {
                    UpdateLabels();
                },
                4000);
            });

        $('#labels').html(query.responseText);
    }

    $(document).ready(function () {
        $(':checkbox').live("change", function () {
            if ($(this).attr('checked') == "checked") {
                $.ajax({
                    url: '@Url.RouteUrl(new { action = "SubscribeCommand", controller = "Build", id = Model.Details.ID })',
                    data: "type=" + $(this).attr('name'),
                    async: false
                });
            }
            else {
                $.ajax({
                    url: '@Url.RouteUrl(new { action = "UnsubscribeCommand", controller = "Build", id = Model.Details.ID })',
                    data: "type=" + $(this).attr('name'),
                    async: false
                });
            }
        });

        UpdateLabels();
    });
</script>


<section>
    <div class="grid6">
        <span class="linkBack">
            @Html.ActionLink("Promotion Status", "Status", "Promote")
        </span>

        <span class="fr">
            <a href="#details">Command Details</a> |
            <a href="#subscriptions">Manage Your Subscriptions</a> |
            <a href="#promotable">Promotable Labels</a>
        </span>
    </div>
</section>

<section id="commandDetails" class="clearfix">
    <div class="grid4">
        <a name="details"></a><h2>Command Details</h2>

        <p>
            This command is configured to be triggered <strong>@((Model.Details.NextTriggerDelay.HasValue) ? "automatically every " + Model.Details.NextTriggerDelay + " seconds" : "manually").</strong>
        </p>

        <table class="tableKeyValue">
            <tbody>
                <tr>
                    <th>Name:</th>
                    <td>
                        @Model.Details.Description
                    </td>
                </tr>
                <tr>
                    <th>Current Label:</th>
                    <td>
                        @Model.PromotedLabel.Value
                    </td>
                </tr>
                <tr>
                    <th>Promoted By:</th>
                    <td>
                        @if (Model.Details.Operator != "AutoTimer")
                        {
                            @Html.ActionLink(@Model.Details.Operator, "UserProfile", "Home", new { id = @Model.Details.Operator }, null)
                            <a href="mailto:@(Model.Details.Operator + "@epicgames.com")?subject=Regarding promoted build @Model.Details.Description in branch @Model.Details.Branch"><img class="icon" src="~/Content/Themes/Base/Images/iconOutlook.png" alt="IM" /></a>
                            <a href="sip:@(Model.Details.Operator + "@epicgames.com")"><img class="icon" src="~/Content/Themes/Base/Images/iconLync.png" alt="Send Email" /></a>
                        }
                        else
                        {
                            @Model.Details.Operator
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="clearfix">
    <div class="grid2">
        <a name="subscriptions"></a><h2>Manage Your Subscriptions</h2>

        <table class="tableKeyValue">
            <tbody>
                <tr>
                    <th>Notify me when Triggered</th>
                    <td><input name="@((byte)'T')" type="checkbox" @(Model.SubscribedTriggered ? "checked" : "") /></td>
                </tr>
                <tr>
                    <th>Notify me when Succeeded</th>
                    <td><input name="@((byte)'S')" type="checkbox" @(Model.SubscribedSucceeded ? "checked" : "") /></td>
                </tr>
                <tr>
                    <th>Notify me when Failed</th>
                    <td><input name="@((byte)'F')" type="checkbox" @(Model.SubscribedFailed ? "checked" : "") /></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="labels"></section>