<ul class="systemMenu">
    <li class="buttonLatest"><a href="@Url.RouteUrl(new { controller = "Latest", action = "Status" })"><img src="~/Content/Themes/Base/Images/btnLatest.png" alt="Latest" />Latest</a></li>
    <li class="buttonBuild"><a href="@Url.RouteUrl(new { controller = "Build", action = "Status" })"><img src="~/Content/Themes/Base/Images/btnBuild.png" alt="Build" />Build</a></li>
    <li class="buttonPromote"><a href="@Url.RouteUrl(new { controller = "Promote", action = "Status" })"><img src="~/Content/Themes/Base/Images/btnPromote.png" alt="Promote" />Promote</a></li>
    <li class="buttonCis"><a href="@Url.RouteUrl(new { controller = "Cis", action = "Status" })"><img src="~/Content/Themes/Base/Images/btnCis.png" alt="CIS" />CIS</a></li>
    <li class="buttonVerify"><a href="@Url.RouteUrl(new { controller = "Verify", action = "Status" })"><img src="~/Content/Themes/Base/Images/btnVerify.png" alt="Verify" />Verify</a></li>
</ul>
